* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f5f5;
    font-family: 'Righteous', cursive;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#cima {
    width: 100%;
    height: 400px;
    background-color: #808080;
}

.botoes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.claro {
    background-color: #f5f5f5;
    color: #111;
    box-shadow: 0px 0px 18px 2px rgba(0,0,0,0.3);
    transition: 500ms;
}

.claro:hover, .escuro:hover, .londres:hover {
    box-shadow: none;
    transition: 500ms;
}

.escuro {
    background-color: #111;
    color: #f5f5f5;
    box-shadow: 0px 0px 18px 2px rgba(0,0,0,0.3);
    transition: 500ms;
}

.londres {
    background-color: #4169e1;
    color: #111;
    box-shadow: 0px 0px 18px 2px rgba(0,0,0,0.3);
    transition: 500ms;
}

/* botões de tema */

input {
    font-family: 'Righteous', cursive;
    margin: 10px 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
}

#baixo {
    width: 100%;
    height: 290px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #f5f5f5;
}

/* Relogio */

.tempo {
    margin-top: 120px;
}

#rel {
    color: #111;
    font-size: 90px;
    margin: 0px 0px 1px 10px;
}

#calendario {
    color: #111;
    font-size: 24px;
    margin: 0px 0px 20px 20px;
}

/* portfolio */

.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

a {
    width: 100px;
    height: 20px;
    color: #f5f5f5;
    text-align: center;
    background-color: #808080;
    margin: 0px 20px 10px 10px;
    padding: 10px;
    text-decoration: none;
}

.separar {
    margin: 0px 5px 0px 0px ;
}