* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f5f5;
    font-family: 'Righteous', cursive;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#cima {
    width: 100%;
    height: 50vh;
    background-color: #808080;
}

.botoes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.claro {
    background-color: #f5f5f5;
    color: #111;
    box-shadow: 0px 0px 18px 2px rgba(0,0,0,0.3);
    transition: 500ms;
}

.claro:hover, .escuro:hover, .londres:hover {
    box-shadow: none;
    transition: 500ms;
}

.escuro {
    background-color: #111;
    color: #f5f5f5;
    box-shadow: 0px 0px 18px 2px rgba(0,0,0,0.3);
    transition: 500ms;
}

.londres {
    background-color: #4169e1;
    color: #111;
    box-shadow: 0px 0px 18px 2px rgba(0,0,0,0.3);
    transition: 500ms;
}

/* botões de tema */

input {
    font-family: 'Righteous', cursive;
    margin: 10px 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
}

#baixo {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #f5f5f5;
}

/* Relogio */

.tempo {
    margin-top: 120px;
}

#rel {
    color: #111;
    font-size: 90px;
    margin: 0px 0px 1px 10px;
}

#calendario {
    color: #111;
    font-size: 24px;
    margin: 0px 0px 20px 20px;
}

/* portfolio */

.tempo {
    margin-top: 10rem;
}

#rel {
    color: #111;
    font-size: 6rem;
    margin: 0px 0px 1px 10px;
}

#calendario {
    color: #111;
    font-size: 2rem;
    margin: 0px 0px 10px 10px;
}

.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

a {
    width: 8rem;
    height: 2rem;
    line-height: 2rem;
    color: #f5f5f5;
    text-align: center;
    background-color: #808080;
    margin: 0px 20px 10px 10px;
    padding: 5px;
    text-decoration: none;
}

.separar {
    margin: 0px 5px 0px 0px ;
}

/* Responsividade */

@media only screen and (max-width: 920px) {

    .botoes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    input {
        font-family: 'Righteous', cursive;
        margin: 2%;
        padding: 10px;
        border: none;
        cursor: pointer;
    }

    #baixo {
        flex-direction: column;
        justify-content: flex-end;
    }

    .tempo {
        margin-top: 8rem;
    }

    #rel {
        color: #111;
        font-size: 4rem;
        margin: 0px 0px 1px 5px;
    }
    
    #calendario {
        color: #111;
        font-size: 1.6rem;
        margin: 0px 0px 20px 5px;
    }

    .portfolio {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    
    a {
        width: 8rem;
        height: 2rem;
        line-height: 2rem;
        background-color: #808080;
        margin: 0px 0px 5px 5px;
        padding: 3px;
    }
}

@media only screen and (max-width: 300px) {
    .botoes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    input {
        font-family: 'Righteous', cursive;
        margin: 1%;
        padding: 5px;
        border: none;
        cursor: pointer;
    }

    #baixo {
        flex-direction: column;
        justify-content: flex-end;
    }

    .tempo {
        margin-top: 8rem;
    }

    #rel {
        color: #111;
        font-size: 3rem;
        margin: 0px 0px 1px 5px;
    }
    
    #calendario {
        color: #111;
        font-size: 1.2rem;
        margin: 0px 0px 10px 5px;
    }

    .portfolio {
        display: none;
    }
}